html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-size: 4vw;
}

body {
  font-size: 1rem;
}

div {
  font-size: 1rem;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  display: flex;
  display: -webkit-flex;
}

div.table {
  width: 100%;
  flex-direction: column;
}
div.tr {
  width: 100%;
  padding: 0.25rem;
  flex-direction: row;
}

h1 {
  font-size: 1.6rem;
}

.error {
  color: red;
}
.flex {
  display: flex;
  display: -webkit-flex;
}
.none {
  display: none;
}

button, input[type="button"] {
  font-size: 1rem;
}